.image1 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  width: 365px;
  height: 180px;
}

.image2 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 1;
  width: 366px;
  height: 180px;
}

.image3 {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  width: 140px;
  height: 250px;
}

.image4 {
  display: grid;
  grid-column: 5;
  grid-row: 2;
  width: 140px;
  height: 200px;
}

.image5 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 290px;
  height: 460px;
}

.image6 {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  width: 140px;
  height: 250px;
}

.image7 {
  display: grid;
  grid-column: 1;
  grid-row: 3;
  width: 140px;
  height: 200px;
}

.image8 {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  width: 140px;
  height: 200px;
}

.image9 {
  display: grid;
  grid-column: 5;
  grid-row: 1;
  width: 140px;
  height: 250px;
}

.image10 {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row: 3;
  width: 440px;
  height: 200px;
}

.image11 {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
  width: 290px;
  height: 200px;
}
